@model IEnumerable<GestorMVC.Models.Produto>

@{
    ViewData["Title"] = "Todos os Produtos";
}

<h1>@ViewData["Title"]</h1>

<a asp-action="AdicionarProduto">Adicionar Produto</a>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Categoria)</th>
            <th>@Html.DisplayNameFor(model => model.Validade)</th>
            <th>@Html.DisplayNameFor(model => model.Quantidade)</th>
            <th>@Html.DisplayNameFor(model => model.Preco)</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td><strong>@Html.DisplayFor(Model => item.Id)</strong></td>

                <td>@Html.DisplayFor(Model => item.Nome)</td>
        
                <td>@Html.DisplayFor(Model => item.Categoria)</td>
        
                <td>
                    @if (item.Validade.HasValue)
                    {
                        @Html.DisplayFor(Model => item.Validade)
                    }
                    else
                    {
                        <span>não possui</span>
                    }
                </td>       

                <td>@Html.DisplayFor(Model => item.Quantidade)</td>
        
                <td>@Html.DisplayFor(Model => item.Preco)</td>

                <td>@(item.Quantidade * item.Preco)</td>


                <td>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page"><a asp-action="EditarProduto"asp-route-id="@item.Id">Editar</a> </li>
                            <li class="breadcrumb-item active" aria-current="page"><a class="link" style="cursor: pointer;"data-bs-toggle="modal" data-bs-target="#staticBackdrop">Deletar</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a asp-action="DetalhesFatura"asp-route-id="@item.FaturaId">Detalhes da fatura</a></li>
                        </ol>
                    </nav>
                </td>
           </tr>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Deletar</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="fechar"></button>
                    </div>
                    <div class="modal-body">
                        <strong>Atenção</strong>, essa ação é irreversível, ao clicar em Deletar Produto, você perderá todos os dados do mesmo.
                    </div>
                    <div class="modal-footer">
                        <form asp-action="DeletarProduto"  asp-route-id="@item.Id">
                            <input type="submit" value="Deletar Produto" class="btn btn-danger">
                        </form>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                    </div>
                </div>
            </div>
        }
    </tbody>
</table>
 
